<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width>, initial-scale=1.0">
        <link rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
           <div>
            <h1>{{ show_project.name }}</h1>
            <p>{{ show_project.descrption }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if show_project.tasks.all|length == 0 %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for item in show_project.tasks.all %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.assignee }}</td>
                                <td>{{ item.start_date}}</td>
                                <td>{{ item.due_date}}</td>
                                <td>{{ item.|yesno:"yeah,no"}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
           </div>
        </main>
    </body>
    </html>